.content {
    padding: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color:rgba(95, 95, 95, 1);
    font-size: 18px;
}

.links a.recommended {
    color: rgba(255, 0, 0, 1);
}