.login__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 680px;
    height: 656px;
    position: absolute;
    top: 200px;
    left: 416px;
    box-sizing: border-box;
    text-align: center;
}

.login-form__heading h2 {
    margin: 0 0 20px;
    font-size: 36px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    margin-bottom: 15px;
    width: 100%;
}

.form__group-title {
    margin-bottom: 5px;
    text-align: left;
}

.form__label--item {
    font-weight: bold;
    display: block;
    font-size: 22px;
}

.form__group-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input--text input[type="email"],
.form__input--text input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 480px;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 4px;
    top: 132.55px;
}

.form__error {
    color: red;
    font-size: 20px;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}

.form__button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form__button-submit {
    background-color: rgba(255, 85, 85, 1);;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 480px;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
}

.register__link {
    text-align: center;
    margin-top: 20px;
}

.register__button-submit {
    color: rgba(0, 115, 204, 1);
    text-decoration: none;
    font-size: 20px;
}

.register__button-submit:hover {
    text-decoration: underline;
}

/* PC向けのスタイル (1400-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .login__content {
        width: 680px;
        height: 656px;
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
    }

    .form__button-submit {
        padding: 12px 24px;
        font-size: 18px;
    }
}

/* タブレット向けのスタイル (768-850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .login__content {
        width: 90%;
        height: auto;
        padding: 15px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .form__input--text input[type="email"],
    .form__input--text input[type="password"],
    .form__button-submit {
        width: 100%;
    }

    .form__button-submit {
        padding: 8px 16px;
        font-size: 14px;
    }
}